# USER INFO
VITE_XSRF_TOKEN= # USER XSRF TOKEN
VITE_ONE_SESSION_ID= # USER ONE SESSION ID

# LOCAL OR REMOTE ENVIRONMENT
VITE_LOCALHOST= # LOCALHOST ENVIRONMENT (http://localhost:8090)
VITE_RECETTE= # RECETTE ENVIRONMENT