:root {
  overflow: hidden;
}

.collaborative-wall-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  transform: translateX(-50%);
}

.btn.focus,
.btn:focus {
  box-shadow: unset;
}
