.collaborativewall-container .toolbar {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

#NoteModal .toolbar-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#NoteModal .multimedia-section {
  width: 100%;
  min-height: 178px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  gap: 8px;
}

.btn.focus,
.btn:focus {
  box-shadow: unset;
}

.description-wall {
  position: fixed;
  z-index: 11;
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  display: flex;
  padding: 8px 76px;
  align-items: center;
  gap: 8px;
}

.note {
  min-height: 224px;
  max-height: 372px;
  width: 224px;
  background-color: transparent !important;
  padding: 0;
}

.card-body {
  align-items: unset !important;
  max-height: 334px;
  flex-wrap: wrap;
}

.card-footer {
  background-color: transparent !important;
  color: #909090 !important;
}

.note.is-dragging .card-header button {
  cursor: grabbing !important;
}

.note.is-grab .card-header button {
  cursor: grab !important;
}

@media (max-width: 440px) {
  .toolbar {
    bottom: 0px !important;
    border-radius: 0 !important;
    width: 100%;
    padding: 8 0 !important;
    gap: 0px !important;
  }
  .zoom-out,
  .zoom-in {
    display: none !important;
  }
}
