.collaborativewall-container .toolbar {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.toolbar-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multimedia-section {
  width: 100%;
  min-height: 120px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  gap: 8px;
}

.delete-button {
  position: absolute;
  background-color: #fff;
  right: 0px;
  z-index: 2;
  gap: 8px;
}

.media-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.media-video {
  border-radius: 8px;
  max-height: 350px;
  position: relative;
  width: 100%;
}

.media-audio {
  max-width: 205px;
  position: relative;
  width: 100%;
}

.btn.focus,
.btn:focus {
  box-shadow: unset;
}

.description-wall {
  position: fixed;
  z-index: 2;
  background-color: rgb(255 255 255 / 80%);
  width: 100%;
  display: flex;
  padding: 8px 76px;
  align-items: center;
  gap: 8px;
}

.note {
  min-height: 224px;
  max-height: 372px;
  width: 224px;
  background-color: transparent !important;
  padding: 0;
  border: unset;
}

.card-body {
  padding-bottom: 8px !important;
  align-items: unset !important;
  flex-wrap: wrap !important;
  flex-grow: 1 !important;
}

.card-footer {
  background-color: transparent !important;
  color: #909090 !important;
  position: sticky !important;
  bottom: 0 !important;
}

.note.is-dragging .card-header button {
  cursor: grabbing !important;
}

.note.is-grab .card-header button {
  cursor: grab !important;
}

.collaborativewall-container .toolbar .btn {
  outline: none;
}
.card-container .card-actions-btn {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 3;
}

.card-container:hover .card-actions-btn {
  opacity: 1;
}

@media (max-width: 440px) {
  .toolbar {
    bottom: 0px !important;
    border-radius: 0 !important;
    width: 100%;
    padding: 8 0 !important;
    gap: 0px !important;
  }
  .zoom-out,
  .zoom-in {
    display: none !important;
  }
}

@page {
  size: landscape;
  orientation: landscape;
  margin: 2.5cm;
  width: 100%;
}
body {
  width: 100%;
}
svg {
  max-height: 160mm;
  max-width: 280mm;
}
