.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-background-button {
    cursor: pointer;
    height: 100px;
    margin-right: 5px;
    border: 2px solid #fff;
    overflow: hidden;
}

.board-background-button.selected,
.board-background-button:hover {
    border-color: #aaa;
}

.divider {
    background-color: #ccc;
    margin-right: 5px;
    height: 100px;
    width: 3px;
}

.board {
    overflow: auto;
    min-height: 600px;
    width: 100%;
    margin-top: 15px;
    background-color: #eee;
}

.board .note {
    display: inline-block;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    overflow: hidden;
    opacity: 0.9;
}

.board .note .note-top {
    padding: 0 5px 0 0;
    position: relative;
}

.board .note .note-top .note-top-button {
    position: absolute;
    top: 2px;
    right: 5px;
}

.board .note .note-content {
    width: 12em;
    height: 8em;
    
    overflow: hidden;

    padding: 10px;
}

.board .note .selected {
    width: 35em;
    height: 30em;
    
    overflow: auto;
}
.board .note .note-bottom {
    padding: 0 10px 10px;
      width: 12em;
}
.cwall-note-pad{
    padding-bottom: 10px;
}
.cwall-notecontent{
    border: 1px solid #ccc;
    margin-top: 20px;
    min-height: 300px;
    margin-bottom: 15px;
    width: 100%;
}
.cwall-colorpicker{
    margin: auto;
    border-collapse: separate;
}
.cwall-colorpicker td{
    width: 23px;
    height: 23px;
}