.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-background-button {
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    height: 64px;
    margin-right: 10px;
    overflow: hidden;
}

.last-button {
    border-left: 5px solid #ccc;
    padding-left: 10px;
}

.board {
    overflow: auto;
    min-height: 600px;
    width: 100%;
    margin-top: 15px;
}

.board .note {
    display: inline-block;
    background: #ffc;
    min-height: 10em;
    min-width: 10em;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    overflow: hidden;
}
