.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-background-button {
    cursor: pointer;
    height: 100px;
    margin-right: 5px;
    border: 2px solid #fff;
    overflow: hidden;
}

.board-background-button.selected,
.board-background-button:hover {
    border-color: #aaa;
}

.divider {
    background-color: #ccc;
    margin-right: 5px;
    height: 100px;
    width: 3px;
}

.board {
    overflow: auto;
    min-height: 600px;
    width: 100%;
    margin-top: 15px;
    background-color: #eee;
}

.board .note {
    display: inline-block;
    background: #ffc;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    overflow: hidden;
    opacity: 0.9;
}

.board .note .note-top {
    background-color: #eea;
    padding: 0 5px 0 0;
    position: relative;
}

.board .note .note-top .note-top-button {
    position: absolute;
    top: 2px;
    right: 5px;
}

.board .note .note-content {
    min-height: 3em;
    min-width: 5em;
    
    max-height: 7em;
    max-width: 10em;
    
    overflow: hidden;
    
    padding: 10px;
    margin-bottom: 10px;
}

.board .note .note-bottom {
    border-top: 1px solid #eea;
    padding: 0 10px 10px;
}
