<div guard-root>
    <h2 class="ng-binding"><i18n>collaborativewall.label.noteowner</i18n> <a ng-href="/userbook/annuaire#[[note.owner.userId]]">[[note.owner.displayName]]</a></h2>

    <editor ng-if="!forceToClose" ng-model="note.content" input-guard></editor>

    <div class="twelve cell">
        <input type="button" class="cell right-magnet" i18n-value="save" reset-guard="saveNote()" />
        <input type="button" class="cell right-magnet cancel" i18n-value="cancel" navigation-trigger="openWallFullScreen(wall)" />
    </div>
</div>
