<div class="row">
    <h2>[[wall.name]]</h2>
    <article class="twelve cell">
        <p>[[wall.description]]</p>
        
        <div class="row">
            <button class="cell" ng-click="openWallFullScreen(wall)"><i18n>collaborativewall.fullscreen.open</i18n></button>
            <a workflow="collaborativewall.print" ng-href="/collaborativewall/print/wall#/print/[[wall._id]]" target="_blank" class="button cell">
                <i18n>collaborativewall.print</i18n>
            </a>
            <a workflow="collaborativewall.printnotes" ng-href="/collaborativewall/printnotes/wall?wall=[[wall._id]]" target="_blank" class="button cell">
                <i18n>collaborativewall.printNotes</i18n>
            </a>
        </div>
    </article>
</div>