<h1><i class="collaborative-wall"></i><i18n ng-click="closeWallFullScreen()">collaborativewall.title</i18n></h1>

<div class="row">
    <div class="one cell">
        <img skin-src="/img/illustrations/collaborative-wall-default.png" ng-if="wall.icon === undefined" />
        <img ng-src="[[wall.icon]]?thumbnail=120x120" ng-if="wall.icon !== undefined" />
    </div>
    <div class="ten cell">
        <h2>[[wall.name]]</h2>
        <p>[[wall.description]]</p>
    </div>
</div>

<behaviour name="contrib" resource="wall">
    <div class="row theme-bar">
        <div ng-repeat="t in themes" class="board-background-button one cell" ng-style="{'background-image': 'url(' + t + ')'}" ng-click="updateBackground(t)" ng-class="{ selected : t === wall.background }"></div>
        <div class="divider cell"></div>
        <div class="board-background-button one cell">
            <image-select ng-model="wall.background" ng-change="updateBackground()" default="/img/icons/folder-large.png" thumbnails="[{ width: 120, height: 120 }]"></image-select>
        </div>
    </div>
</behaviour>

<board class="board" ng-dblclick="addNote()">
    <sticky ng-repeat="n in wall.notes" class="note" ng-dblclick="editNote(n, $event)">
        <div class="row">
            <behaviour name="contrib" resource="wall">
                <div class="eleven cell draggable">&nbsp;</div>
            </behaviour>
            <div class="one cell" ng-click="removeNote($index)" ng-if="hasRight(wall, n)">x</div>
        </div>
        <div class="row">
            <div class="twelve cell" ng-if="n === note">
                <html-inline-editor ng-model="note.content"></html-inline-editor>
                <input type="button" class="right-magnet" i18n-value="save" ng-click="saveNote()" />
                <input type="button" class="right-magnet cancel" i18n-value="cancel" ng-click="cancelNote()" />
            </div>
            <div ng-if="n !== note" bind-html="n.content"></div>
        </div>
        <footer class="row information">
            <div class="row"><small><a ng-href="/userbook/annuaire#[[n.owner.userId]]">[[n.owner.username]]</a></small></div>
            <div class="row"><small>[[n.lastEdit | date:"dd/MM/yyyy 'à' H:mm"]]</small></div>
        </footer>
    </sticky>
</board>