<div class="row">
    
   <div>
    	<a class="cell left-magnet" ng-href="/collaborativewall/printnotes/wall?wall=[[wall._id]]" target="_blank" workflow="collaborativewall.printnotes">
            <i18n>collaborativewall.printNotesWallFull</i18n>
        </a>
        <span class="cell">&nbsp;|&nbsp;</span>
        <a class="cell left-magnet" ng-href="/collaborativewall/print/wall#/print/[[wall._id]]" target="_blank" workflow="collaborativewall.print">
            <i18n>collaborativewall.print</i18n>
        </a>
        <button ng-if="!notDesktop" class="cell right-magnet" ng-if="hasWallRight(wall)" ng-click="addNote()"><i18n>collaborativewall.note.create</i18n></button>
    </div>
</div>

<div class="row">
    <div class="one cell">
        <img skin-src="/img/illustrations/collaborative-wall-default.png" ng-if="wall.icon === undefined" />
        <img ng-src="[[wall.icon]]?thumbnail=120x120" ng-if="wall.icon !== undefined" />
    </div>
    <div class="eleven cell cwall-title">
        <h2>[[wall.name]]</h2>
        <p>[[wall.description]]</p>
    </div>
</div>
<div>
    <table class="cwall-colorpicker" ng-show="showColor"  ng-mouseover="mouseOverColorPicker()" ng-mouseleave="mouseLeaveColorPicker()">
            <tbody>
                <tr>
                
                    <td ng-repeat="c in noteColors" ng-style="{background:c[0]}"  ng-click="setColor(c,useridcolor)"></td>
                </tr>
            </tbody>
    </table>
</div>
<board class="board">


    <sticky ng-repeat="n in wall.notes" class="note" ng-dblclick="editNote(n, $event)">
        <div class="row note-top" ng-style="{background:n.color[1]}">
            <behaviour name="contrib" resource="wall">
                <div class="twelve cell draggable">&nbsp;</div>
            </behaviour>
            <behaviour name="retrieve" resource="wall">
                <div ng-if="!hasWallRight(wall)" class="twelve cell ">&nbsp;</div>
            </behaviour>
            <div class="cell note-top-button">
                <img  src="/collaborativewall/public/img/color.png" ng-mouseover="expression" alt="Palette de couleurs" ng-if="hasRight(wall, n)" ng-click="toogleShowColor(n.owner.userId)">
                <img  src="/collaborativewall/public/img/view.png" alt="Visualiser" ng-click="viewNote(n)">
                <img  src="/collaborativewall/public/img/edit.png" alt="Editer" ng-if="hasRight(wall, n)" ng-click="editNote(n, $event)">
                <img  src="/collaborativewall/public/img/delete.png" alt="Supprimer" ng-if="hasRight(wall, n)" ng-click="confirmRemoveNote($index, $event)">
            </div>
        </div>
        <div class="row note-content"  ng-style="{background:n.color[0]}"  sglclick="viewNote(n)">
            <div class="twelve cell" ng-if="n !== note">
                <div bind-html="n.content"></div>
            </div>
            
        </div>
        <div class="cwall-note-pad" ng-style="{background:n.color[0]}">
                
            </div>
        <div class="row note-bottom" ng-style="{background:n.color[0], 'border-top': '1px solid','border-top-color':n.color[1]}" >
            <div class="row"><small><a ng-href="/userbook/annuaire#[[n.owner.userId]]">[[n.owner.username]]</a></small></div>
            <div class="row"><small>[[n.lastEdit | date:"dd/MM/yyyy 'à' H:mm"]]</small></div>
        </div>
    </sticky>
</board>

<!-- Allows to display a confirm dialog before deleting a note -->
<div ng-if="display.confirmDeleteNote">
    <lightbox show="display.confirmDeleteNote" on-close="cancelRemoveNote()">
        <article>
            <div class="row">
                <i18n>collaborativewall.note.delete.confirm</i18n>
            </div>
            <div class="row">
                <button class="right-magnet" ng-click="removeNote()"><i18n>remove</i18n></button>
                <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveNote()" />
            </div>
        </article>
    </lightbox>
</div>

<div ng-if="display.note">
    <lightbox show="display.note" on-close="closeViewNote()">
        <article style="overflow-y: auto; height:100%; max-height:650px;">
            
            <div class="row">
                <div bind-html="note.content"></div>
            </div>
            <div class="row">
                <p class="ng-binding"><i18n>collaborativewall.label.noteowner</i18n> <a ng-href="/userbook/annuaire#[[note.owner.userId]]">[[note.owner.username]]</a></p>
            </div>
        </article>
    </lightbox>
</div>