<div class="items">
    <div class="row rigid-grid" ng-if="walls.all.length">
        <div class="four cell">
            <autocomplete
                    options="searchbar"
                    ng-change="openWallFromSearchbar(selectedWall._id)"
                    ng-model="selectedWall"
                    ng-if="!isCreatingOrEditing()">
            </autocomplete>
        </div>
    </div>
    <div class="fallen dominos">
        <!-- Création -->
        <div class="emptyscreen" ng-if="!walls.all.length" workflow="collaborativewall.create">
            <h2 class="emptyscreen-header">
                <i18n>empty.collaborativewall.creation.title</i18n>
            </h2>
            <img class="emptyscreen-image__mini" src="/collaborativewall/public/img/empty-collaborativewall.svg">
            <p class="emptyscreen-footer">
                <i18n>empty.collaborativewall.creation</i18n>
            </p>
            <a class="button" ng-if="!wallmodeview" ng-click="newWall()">
                <i18n>collaborativewall.new</i18n>
            </a>
        </div>
        <!-- Consultation -->
        <div class="emptyscreen" ng-if="!walls.all.length" workflow-not="collaborativewall.create">
            <h2 class="emptyscreen-header">
                <i18n>empty.collaborativewall.consultation.title</i18n>
            </h2>
            <img class="emptyscreen-image__mini" src="/collaborativewall/public/img/empty-collaborativewall.svg">
            <p class="emptyscreen-footer">
                <i18n>empty.collaborativewall.consultation</i18n>
            </p>
        </div>

        <div class="item" ng-repeat="w in walls.all">
            <section class="domino cyan">
                <div class="top" ng-click="openWallFullScreen(w)">
                    <img ng-if="w.icon === undefined" class="cell" skin-src="/img/illustrations/collaborative-wall-default.png" />
                    <img ng-if="w.icon !== undefined" class="cell" ng-src="[[w.icon]]?thumbnail=120x120" />
                </div>
                <div class="bottom">
                    <div class="content">
                        <div class="cell" ng-click="openWallFullScreen(w)">
                            <strong class="truncate"><acronym title="[[w.name]]">[[w.name]]</acronym></strong>
                            <a class="truncate" ng-href="/userbook/annuaire#[[w.owner.userId]]" title ="[[w.owner.displayName]]">[[w.owner.displayName]]</a>
                            <span ng-if="w.notesCount()>1">[[w.notesCount()]] <i18n>collaborativewall.wall.display.notes</i18n> </span>
                            <span ng-if="w.notesCount()<2">[[w.notesCount()]] <i18n>collaborativewall.wall.display.note</i18n> </span>

                            <br/> [[formatDate(w.modified)]]
                        </div>
                    </div>
                </div>
                <span ng-show="hasManageRight(w)">
                    <check-tool ng-model="w.selected" ng-click="$event.stopPropagation()" ></check-tool>
                </span>
            </section>
        </div>
    </div>
    <!-- Lightbox to share walls -->
    <div ng-if="display.showPanel">
        <lightbox show="display.showPanel" on-close="display.showPanel = false;">
            <share-panel app-prefix="'collaborativewall'" resources="walls.selection()"/>
        </lightbox>
    </div>

    <!-- Lightbox to confirm wiki deletion -->
    <lightbox show="display.confirmDeleteWall" on-close="display.showConfirmDelete = false">
        <article>
            <div class="row">
                <i18n>collaborativewall.wall.delete.confirm</i18n>
            </div>
            <p ng-repeat="w in walls.selection()"> [[w.name]]</p>
            <div class="row">
                <button class="right-magnet" ng-click="removeWalls()"><i18n>remove</i18n></button>
                <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveWall()" />
            </div>
        </article>
    </lightbox>
</div>

<!-- Display actions for selected walls -->
<section class="toggle-buttons" ng-class="{ hide: walls.selection().length === 0 }">
    <div class="toggle">
        <div class="row">
            <a class="button cell" workflow="collaborativewall.print" ng-if="walls.selection().length === 1" ng-href="/collaborativewall/printall/wall#/print/[[walls.selection()[0]._id]]" target="_blank">
                <i18n>print</i18n>
            </a>
            <resource-right name="contrib" resource="walls.selection()" class="cell">
                <button ng-if="walls.selection().length === 1" ng-click="editWall(walls.selection()[0], $event)">
                    <i18n>properties</i18n>
                </button>
            </resource-right>
            <resource-right name="manage" resource="walls.selection()" class="cell">
                <button ng-click="display.showPanel = true">
                    <i18n>share</i18n>
                </button>
            </resource-right>
            <resource-right name="manage" resource="walls.selection()" class="cell">
                <button ng-click="confirmRemoveWall(walls.selection()[0], $event)">
                    <i18n>remove</i18n>
                </button>
            </resource-right>
        </div>
    </div>
</section>
