<h1><i class="wall"></i><i18n ng-click="cancelWallEdit()">wall.title</i18n></h1>

<div class="items">
	<div workflow="collaborativewall.create" class="twelve cell">
		<div class="cell">
			<button ng-click="newWall()"><i18n>wall.new</i18n></button>
		</div>
		<i class="open-right right-magnet big-hidden" ng-click="template.close('main')"></i>
	</div>
	<hr />
	<div class="row" ng-repeat="w in walls.all" ng-click="openWall(w)" ng-class="{ selected: w._id === wall._id }">
        <div class="cell">
            <img ng-if="w.icon === undefined" class="cell" skin-src="/img/illustrations/wall-default.png" />
            <img ng-if="w.icon !== undefined" class="cell" ng-src="[[w.icon]]?thumbnail=120x120" />
        </div>
		<article>
			<h1 class="truncate">[[w.name]]</h1>

            <div class="bottom-locked">
                <behaviour name="manage" resource="w">
                    <input type="checkbox" ng-model="w.showButtons" ng-change="hideAlmostAllButtons(w)" />
                </behaviour>
            </div>

            <div class="small-hidden buttons" ng-class="{ hidden: !w.showButtons || w._id !== wall._id }">
                <behaviour name="manage" resource="w">
                    <button ng-click="editWall(w, $event)"><i18n>edit</i18n></button>
                    <button ng-click="confirmRemoveWall(w, $event)"><i18n>remove</i18n></button>
                    <button ng-click="shareWall(w, $event)"><i18n>share</i18n></button>
                </behaviour>
            </div>
		</article>
	</div>
</div>

<!-- Allows to display a confirm dialog before deleting a wall -->
<div ng-if="display.confirmDeleteWall">
    <lightbox show="display.confirmDeleteWall" on-close="cancelRemoveWall()">
        <article>
            <div class="row">
                <i18n>wall.delete.confirm</i18n>
            </div>
            <div class="row">
                <button class="right-magnet" ng-click="removeWall()"><i18n>remove</i18n></button>
                <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveWall()" />
            </div>
        </article>
    </lightbox>
</div>

<!-- Allows to display the panel to manage share rights -->
<div ng-if="display.showPanel">
    <lightbox show="display.showPanel" on-close="display.showPanel = false;">
        <share-panel app-prefix="'collaborativewall'" resources="wall"></share-panel>
    </lightbox>
</div>
