<div class="row">

    <h2 ng-if="!wall._id">
        <i18n>collaborativewall.head.create</i18n>
    </h2>
    <h2 ng-if="wall._id">
        <i18n>collaborativewall.head.modify</i18n>
    </h2>
    
    <article class="twelve cell">
        <form name="form">
            <!-- Title -->
            <label class="twelve cell"><i18n>collaborativewall.label.name</i18n></label> 
            <input class="twelve cell" type="text" ng-model="wall.name" required />

            <!-- Images -->
            <div class="twelve cell">
                <label class="twelve cell"><i18n>collaborativewall.label.image</i18n></label>
                <div class="one cell">
                    <image-select ng-model="wall.icon" default="/img/illustrations/collaborative-wall-default.png" thumbnails="[{ width: 290, height: 290 }]"></image-select>
                </div>
            </div>

            <!-- Description -->
            <label class="twelve cell"><i18n>collaborativewall.label.description</i18n></label> 
            <textarea class="twelve cell" ng-model="wall.description"></textarea>
            
            <!-- Background -->
            <label class="twelve cell"><i18n>collaborativewall.label.background</i18n></label> 
            <div class="row">
                <div ng-repeat="t in themes" class="board-background-button two cell" ng-click="wall.background = t" ng-class="{ selected : t === wall.background }">
                    <img src="[[t]]">
                </div>
                <div class="divider cell">&nbsp;</div>
                <div class="board-background-button two cell">
                    <image-select ng-model="wall.background" default="/img/icons/folder-large.png" thumbnails="[{ width: 120, height: 120 }]"></image-select>
                </div>
            </div>

            <!-- Controls -->
            <div class="vertical-spacing-twice twelve cell">
                <button class="right-magnet" ng-click="saveWall()" ng-disabled="form.$invalid">
                    <i18n>save</i18n>
                </button>
                <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelWallEdit()" />
            </div>
        </form>
    </article>
</div>