<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaborative Wall</title>
    <link rel="icon" id="favicon" href="" />
    <link rel="stylesheet" href="/assets/themes/edifice-bootstrap/index.css" />
    <script type="module" crossorigin src="/collaborativewall/public/index-BE7H27zE.js"></script>
  </head>
  <body class="app-react" data-ode-app>
    <div id="root"></div>
    <div id="portal"></div>
  </body>
</html>
