{
  "name": "net.atos~collaborativewall",
  "config": {
    "main": "net.atos.entng.collaborativewall.CollaborativeWall",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.MongoProbe"
    ],
    "port": 8071,
    "csrf-token": {{ csrfToken | default('true') }},
    "app-name": "CollaborativeWall",
    "app-address": "/collaborativewall",
    "app-icon": "collaborative-wall-large",
    "app-type" : "END_USER",
    "host": "https://{{ host }}",
    "ssl": true,
    "userbook-host": "https://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port": 8012,
    "mode": "prod",
    {% if (collaborativeWallRealtimeEnabled | default(True)) != 'False' -%}
    "real-time": {
     {% if collaborativeWallRedisUrl is defined %}
     "redisConfig": {
         "maxPoolWaiting": {{ collaborativeWallRedisPoolWaitingExplorer|default('2024') }},
         "maxWaitingHandlers": {{ collaborativeWallRedisWaitingHandlerExplorer|default('2024') }},
         "host": "{{ collaborativeWallRedisUrl | default('') }}",
         "port": {{ collaborativeWallRedisPort|default('6379') }},
         "auth": "{{ collaborativeWallRedisAuth }}"
     },
     {% endif %}
     "port": {{ collaborativeWallWSPort | default('9091') }},
     "max-connected-user": {{ collaborativeWallMaxUsers | default('5') }}
    },
    {%- endif %}
    "entcore.port": 8009
  }
}