<!DOCTYPE html>
<html>
    <head>
        <title>{{#i18n}}collaborativewall.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" type="text/css" href="/collaborativewall/public/css/custom.css">
        
        <script src="/collaborativewall/public/js/directives.js" type="text/javascript"></script>
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="/collaborativewall/public/js/model.js" type="text/javascript"></script>
        <script src="/collaborativewall/public/js/controller.js" type="text/javascript"></script>
        
        <script type="text/ng-template" id="empty"></script>
    </head>
    <body ng-controller="WallController">
        <portal>
            <div class="twelve cell" ng-if="!error">
                <div class="eight cell">
                    <h1>
                        <i class="collaborative-wall">
                            <side-panel ng-if="wallmodeview" >
                                <container template="side-panel"></container>
                            </side-panel>
                        </i>
                        <a><i18n ng-click="cancelWallEdit()">collaborativewall.title</i18n></a>
                        <span ng-if="wall.name && wall.name.trim().length > 0">
                            : <a ng-click="wallmodeview(wall)">[[wall.name]]</a>
                        </span>
                    </h1>
                </div>
                <div class="contextual-buttons four cell" workflow="collaborativewall.create">
                    <!-- <button ng-if="!wallmodeview" ng-click="newWall()" class="cell right-magnet"> -->
                    <button ng-if="!wallmodeview" ng-click="newWall()"  class="cell right-magnet">
                        <i18n>collaborativewall.new</i18n>
                    </button>
                </div>
            </div>
            <div ng-if="!error" class="row patchwork">
                <container template="main"></container>
              <!--   <container template="walls" class="flexible navigation" ng-class="{ 'empty-neighbour': template.isEmpty('main'), 'filled-neighbour': !template.isEmpty('main') }"></container> -->
            </div>
            <div ng-if="error" class="row">
                <container template="error"></container>
            </div>
    </portal>
    </div>
    </body>
</html>