<!DOCTYPE html>
<html class="print">
<head>
    <title>{{#i18n}}collaborativewall.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="stylesheet" type="text/css" href="/collaborativewall/public/css/custom.css">
    
    <script src="/collaborativewall/public/js/directives.js" type="text/javascript"></script>
    <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
    <script src="/collaborativewall/public/js/model.js" type="text/javascript"></script>
    <script src="/collaborativewall/public/js/controller.js" type="text/javascript"></script>
</head>
<body ng-controller="WallController">
    <portal-styles></portal-styles>

    <div class="centered container row">
        <section class="main">
            <div class="row">
                <div class="eleven cell">
                    <h2>[[wall.name]]</h2>
                    <p>[[wall.description]]</p>
                </div>
            </div>
            <div ng-repeat="note in wall.notes" class="row">
                <article class="twelve cell vertical-spacing-twice" style="background:[[ note.color[0] ]];">
                    <div class="row">
                        <h2>[[note.owner.username]]</h2>
                        <p> <i18n>collaborativewall.last.modification.by</i18n> [[note.lastEdit | date:"dd/MM/yyyy 'à' H:mm"]]</p>
                    </div>
                    <div class="row note-content" >
                            <div bind-html="note.content"></div>
                    </div> 
                </article>
            </div>
        </section>
    </div>

</body>
</html>