<!DOCTYPE html>
<html class="print">
<head>
    <title>{{#i18n}}collaborativewall.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/collaborativewall/public/css/custom.css">

    <script src="/collaborativewall/public/dist/entcore/ng-app.js" id="context" type="text/javascript"></script>
    <script src="/collaborativewall/public/dist/application.js" type="text/javascript"></script>
</head>
<body ng-controller="WallController">
<portal-styles></portal-styles>

<div class="centered container row">
    <section class="main">
        <div class="row">
            <div class="one cell">
                <img skin-src="/img/illustrations/collaborative-wall-default.png" ng-if="wall.icon === undefined" />
                <img ng-src="[[wall.icon]]?thumbnail=120x120" ng-if="wall.icon !== undefined" />
            </div>
            <div class="eleven cell">
                <h2>[[wall.name]]</h2>
                <p>[[wall.description]]</p>
            </div>
        </div>

        <board class="board">
            <sticky ng-repeat="n in wall.notes" class="note">
                <div class="row note-content" ng-style="{background:n.color[0]}">
                    <div bind-html="n.content"></div>
                </div>
            </sticky>
        </board>
        <div ng-repeat="note in wall.notes" class="row">
            <article class="twelve cell vertical-spacing-twice" ng-style="{background:note.color[0]}">
                <div class="row">
                    <h2>[[note.owner.displayName]]</h2>
                    <p> <i18n>collaborativewall.last.modification.by</i18n> [[note.modified.$date | date:"dd/MM/yyyy 'à' H:mm"]]</p>
                </div>
                <div class="row note-content" >
                    <div bind-html="note.content"></div>
                </div>
            </article>
        </div>
    </section>
</div>

</body>
</html>