<!DOCTYPE html>
<html class="print">
<head>
    <title>{{#i18n}}collaborativewall.title{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/collaborativewall/public/css/custom.css">

    <script src="/assets/js/entcore/ng-app.js?v=@@VERSION" id="context" type="text/javascript"></script>
    <script type="text/javascript" src="/collaborativewall/public/dist/application.js?v=@@VERSION"></script>
    
    <style>
        @page {
            size: A4 landscape;
            margin: 1.5cm;
        }
    </style>
    <script>
        window.pdfGeneratorConfig={
            landscape: true
        }
    </script>
</head>
<body ng-controller="WallController">
<portal-styles></portal-styles>

<div class="centered container row">
    <section class="main print--collaborativewall">
        <div class="row">
            <h1 class="app-title">
                <i class="collaborative-wall"></i>
                [[wall.name]]
                <div class="small-text left-spacing-twice horizontal-spacing">[[wall.description]]</div>
            </h1>
        </div>

        <board class="board">
            <sticky ng-repeat="n in wall.notes" class="note">
                <div class="row note-content" ng-style="{background:n.color[0]}">
                    <div bind-html="n.content"></div>
                </div>
            </sticky>
        </board>
        <article class="twelve cell horizontal-spacing" ng-style="{background:note.color[0]}" class="row" ng-repeat="note in wall.notes">
          <div class="row">
            <div class="row note-content strong-text bottom-spacing-three">
              <div bind-html="note.content"></div>
            </div>
            <strong>[[note.owner.displayName]]</strong>
            <small><i18n>collaborativewall.last.modification.by</i18n> [[note.modified.$date | date:"dd/MM/yyyy 'à' H:mm"]]</small>
          </div>
        </article>
    </section>
</div>

</body>
</html>
