@page {
  size: landscape;
  orientation: landscape;
  margin: 2.5cm;
}

* {
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  print-color-adjust: exact !important;
}
